.img-fluid{
    height: 200px;
}

.header{
    background-color: #f66598;   
}

.intro{
    height:50vmin;
    background-color: #ff6565;
}

.navbar .navbar-brand{
    color:#fff;
}

.jumbotron{
    background-color: #ff6565;
    color:#fff;
    padding:2rem;
}

.jumbotron ul{
    list-style-type: none;
}

.carousel-image{
    height:50vmin;
    width:100%;
}